<div class="row">
  <div class="col-md-6">
    <h2>Become a Donor!</h2>
    <p>Join as a donor today and help volunteers live their dream of helping others! Watch their progress and see
      what you helped make happen unfold.
    </p>
  </div>
  <div class="col-md-6">
    <h2>Become a Volunteer!</h2>
    <p>Want to build houses for the poor? Feed the homeless? Come together as a community and provide technology or
       other opportunities to the less fortunate in undeveloped nations? If you have the drive but not the funds then
       join us as a volunteer, post your project, and get help from donors!
    </p>
  </div>
</div>