<div class="row" style="text-align:center;">
  <h2 id="project_title" data-mercury="simple" data-type="editable"><%= @project.title %></h2>
  <p id="project_description" data-mercury="simple" data-type="editable"><%= @project.description %></p>
  <% if @project.user == current_user %>
    <%= link_to "Edit Project", "/editor" + request.path, :id => "edit_link", :class => "btn btn-primary btn-sm", :data => {:save_url => mercury_update_project_path(@project)} %>
  <% end %>
</div>
<div class="row">
  <h1 style="text-align: center;">Information</h1>
  <p id="project_information" data-mercury="full" data-type="editable" style="text-align: center;">
    <%= raw @project.information %>
  </p>
</div>