<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>Ever wanted to volunteer your time, but didn't have the financial means to do so? Always wanted to be a part of
      a volunteer effort, but don't have the time to do so yourself? Join us at Volunteer Finder and we'll match those
      who have time to give with donors who are excited to be a part of helping improve the world!</p>
    <p><a class="btn btn-primary btn-lg" role="button">Register now »</a></p>
  </div>
</div>