<div class="jumbotron">
  <div class="container" style="text-align: center;">
    <h1>Get Started</h1>
    <p>What would you like to do?</p>
    <div class="row">
      <div class="col-lg-6" style="text-align:center;">
        <a class="btn btn-primary btn-lg" role="button" href="<%= new_project_path %>">Create Project</a>
      </div>
      <div class="col-lg-6" style="text-align:center;">
        <a class="btn btn-primary btn-lg" role="button">Browse Project</a>
      </div>
    </div>
  </div>
</div>